<!DOCTYPE html>
<html lang="en">
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'users/style.css' %}">

<head>
    <meta charset="UTF-8">
    <div class="topnav">
        {% if user.is_authenticated %}
            <div class="left">
                <a href="{% url 'mails:inbox' %}"> Inbox</a>
                <a href="{% url 'mails:sent' %}"> Sent</a></div>
            <div class="center">
                <a href="{% url 'mails:compose' %}"> Compose</a>
            </div>
            <div class="right">
                <a href="{% url 'users:profile' user_id=user.id %}"> Profile</a>
            </div>
        {% else %}
            <div class="right">
                <a href="{% url 'users:login' %}"> Login</a>
            </div>

        {% endif %}

    </div>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>